{{define "admin"}}

	{{template "header"}}

	<h3>Posts</h3>


	<p><h4><a href="/admin/new">New Post</a></h4></p>

	<br />	

	<table class="table">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Created</th>
			<th>Modified</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

	{{range .}}
		<tr class="{{.Draft | draftClass}}">
			<td>{{.ID}}</td>
			<td><a href="/admin/edit/{{.ID}}">{{.Title}}</a></td>
			<td>{{.CreateDate | dateFormat }}</td>
			<td>{{.ModifyDate | dateFormat }}</td>
			<td><a href="/{{.Draft | draftText}}/{{.ID}}">{{.Draft | draftText}}</a></td>
			<td><a href="/admin/edit/{{.ID}}">Edit</a></td>
			<td><a href="/admin/delete/{{.ID}}">Delete</a></td>
			<td><a href="/{{.Title | titleLink }}">View</a></td>
		</tr>
	{{end}}
	
	</table>

	<br />

	{{template "footer"}}

{{end}}