{{define "admin_edit"}}

	{{template "header_admin"}}

	<h3>Edit post</h3>
	<h4><a href="/admin">Back to Admin page</a></h4>
		<form action="/admin/edit/{{.ID}}" method="POST" style="width: 80%">
			<br />

			<div class="row">

				<div class="col-md-6">
					<div class="form-group">
						<label for="post-title">Title</label>
						<input class="form-control" id="post-title" name="post-title" value="{{.Title}}">
					</div>						
					<div class="form-group">
						<label for="post-body">Content</label>
						<textarea class="form-control" rows="25" id="post-body" name="post-body">{{.Body}}</textarea>
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-default">Submit</button>
						<button id="button_preview" class="btn btn-primary">Preview</button>
					</div>


					
				</div>

				<div class="col-md-6">
					<div class="form-group">
						<label>Preview</label>

						<div id="preview" class="well"></div>
					</div>
				</div>

			</div>
		</form>

	{{template "footer"}}
	
{{end}}