{{define "footer"}}

		</div><!-- /.blog-main -->
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/resources/js/bootstrap.min.js"></script>
	    <script src="/resources/js/highlight.pack.js"></script>
	    <script src="/resources/js/application.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>

{{end}}