{{define "header"}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Vince Pergolizzi's blog">
		<meta name="keywords" content="Vince Pergolizzi blog programming">
		
		<title>vincepergolizzi.com</title>

		<link href="/resources/css/googlecode.css" rel="stylesheet">
		<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
		<link href="/resources/css/blog.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body>

		<div class="container">
			<div class="row">
				<div class="blog-header">
					<div class="col-sm-12 blog-main">
						<table>
							<tr>
								<td style="padding-right: 30px">
									<img alt="Picture of Vince Pergolizzi" src="https://avatars3.githubusercontent.com/u/11638511?v=3&s=460" width="100" height="100" style="border-radius: 6px" />
								</td>

								<td>
									<h1 class="blog-title"><a href="/">vincepergolizzi</a></h1>

									<p class="lead blog-description">
										<a href="https://github.com/vp89">Github</a> | 
										<a href="https://twitter.com/vp89">Twitter</a>
									</p>
								<td>
							</tr>
						</table>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 blog-main">
					<br />
		
{{end}}